// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Media queryies
@import 'media';

body {
  color: $main-font-color;
  background-color: white;
}

#app {
  padding: 0px 3%;

  @include gt-sm {
    padding: 0px 5%;
  }

  @include gt-md {
    padding: 0px 10%;
  }
}

.container {
  padding: 0px;
}

/*
.col {
  padding: 0px;
}

.col-auto {
  padding: 0px;
}

.row {
  padding: 0px;
}*/

.app-title {
  font-size: $app-title-font-size;
}

.nav-link {
  font-size: 16px;
}

.section-title {
  font-size: $section-font-size;
}

.title-text {
  padding-bottom: 5px;
  font-size: 14px;
  color: gray;
}

a {
  color: grey;
}
.context {
  color: grey;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
}

.context-title {
  color: black;
  padding-left: 5px;
}

.context-item {
  padding-left: 5px;
}
